@page
@model Climbing4Everyone.Pages.RouteList.MyListModel
@using Climbing4Everyone2._0.Utility;


<br />
<div class="containter row p-0 m-0">
    <div class="col-10">
        <h2 class="text-info text-dark">My List</h2>
    </div>

    <div class="col-2">
        <a asp-page="Create" class="btn btn-info btn-dark text-white form-control">Create New Route</a>
    </div>

    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>RouteName</th>
                    <th>RouteDifficulty</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var route in Model.Routes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(ModelItem => route.RouteName)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => route.RouteDifficulty)
                        </td>
                        <td class="text-center">
                            <a class="btn btn-info" asp-page="./Details" asp-route-id="@route.ID">Details</a>
                            <a class="btn btn-success" asp-page="./Edit" asp-route-id="@route.ID">Edit</a>
                            <a asp-page="./Delete" asp-route-id="@route.ID" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>